
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.banner_AreaAp{
    background-image: url(img/fundo_AreaQuem_Somos2.png);
    height: 55vh;
    background-repeat: no-repeat;
    background-size: 100% auto; 
    background-position: 50% 30%;

}


#banner_SobreNos{
    background-color: #707aac;
    padding: 10px 10px;
    border-radius: 12px;
    margin-bottom: 20px;
    font-weight: 100px;
}

.conteudo_Header{
    padding: 120px;
    font-family: 'Poppins', sans-serif;
}

.azul_Uniforme_Span{
    color: #3155FF;
}

.banner_Text{
     margin-top: 10px;
     color: #D5D8E8;
     font-weight: 500;
     font-weight: bolder;
}

#h1_Banner{
    margin-top: 35px;
    font-size: 45px;
    margin-bottom: 10px;
}

#p_Banner{
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 35px;
    max-width: 650px;
    color: #D5D8E8;
    font-weight: 500;
    
}
#link_Banner{
    background-color: #3155FF;
    padding: 10px 10px;
    border-radius: 12px;
    text-decoration: none;
    color: #D5D8E8;
}



 <!--Sessao Historia-->

.sessao_Historia{
    height: 100%;
}

.text_SessaoHistoria{
    padding: 10px 10px;
    margin-left: 30px;
    align-items: center;  
    margin-top: 18px;
    color: #fff;
}

#nossaHistoria{
    margin-bottom: 12px;
    font-size: 30px;
}
#area_ImgHistoria{
    margin-left: 90px;
}

.area_SessaoHistoria{
    display: flex;
    background-color: #020A2D;   
}

.div_Ps{
    font-size: 17px;
}


 <!--missao_Visao_Valores-->

 .area_Missao_Valores{
    display: flex;

 }

 .text_Missao_Valores{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
 }

 #h3_missao_Visao_Valores{
    font-size: 30px;
 }

 #spanMissao_E_AreaAjuda{color: #fff;}#spanVisao_E_AreaAjuda{color: #2D4CC8;} #span_e{color:#5B2BCF;} #span_Valores{color:#8A4DFF;}


.missao_Visao_Valores_Section{
    background-color:#051040;
}